@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: 'Roboto', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #427AA1;
}

.container {
  margin: 0;
  padding: 0;
  width: 100%;
}

.main-page-container {
  /* width: max-content; */
  margin-left: auto;
  margin-right: auto;
}

.btn-style,
#dropdownBtn {
  background-color: #427AA1;
  border: none;
  color: #FDFDFD;
}

.btn-style:hover,
.btn-style:focus-visible,
.btn-style:active,
#dropdownBtn:hover,
#dropdownBtn:active,
#dropdownBtn:focus-within {
  background-color: #4d8dba !important;
  border: none;
  box-shadow: none;
}

.dropdown-menu {
  background-color: #FDFDFD;
  box-shadow: 1px 1px #CCC;
  border: 1px solid #CCC;
}

.scroll::-webkit-scrollbar {
  width: 5px;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: rgba(62, 62, 60, 0.4);
  border-radius: 5px;
}
