@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: 'Roboto', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #427AA1;
  /* background-image: url('/images/card-cat.png');
  background-size: cover; */
  /* background-color: rgba(230, 234, 240,0.7); */
}

.container {
  margin: 0;
  padding: 0;
  display: flex;
}

.main-page-container {
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
}

.btn-style {
  background-color: #427AA1;
  border: none;
}

.btn-style:hover,
.btn-style:focus-visible,
.btn-style:active {
  background-color: #4d8dba !important;
  border: none;
  box-shadow: none;
}
